<html>
  <head>
    <title>DavidSundelius.se</title>
    <meta name="google-site-verification" content="qR0jmfRCNfMJe0y7LDEiEKKyn4l3rgHDGml2iiYdaaM" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/core.css">
  </head>
  <body data-ng-app="dse">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">David Sundelius</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li class="active"><a href="blog/">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center fadeIn">
      <h1>David Sundelius</h1>
      MSc. Computer Science - algorithm, languages and logic from Chalmers University of Technology<br>
      Certified Professional Scrum Master I (PSM I), Professional Product Owner I (PSPO I) and Scaled Professional Scrum (SPS)<br>
      Agile consultant for Knowit System Development - currently working as a Scrum master and software architect<br><br>
      <i>Contact information:</i><br>
      <a href="mailto:mail@davidsundelius.se">mail@davidsundelius.se</a><br>
      (+46)73-2435711<br><br>
      <a href="../linkedin/"><img src="assets/img/Linkedin.png"></a>
      <a href="../facebook/"><img src="assets/img/Facebook.png"></a>
      <a href="../twitter/"><img src="assets/img/Twitter.png"></a>
      <a href="../github/"><img src="assets/img/Github.png"></a>
      <br><br>
      <i>@ Copyright David Sundelius 2016</i>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="assets/core.js"></script>
  </body>
</html>
