<html>
<head>
<title>DavidSundelius.se</title>
<meta name="google-site-verification" content="qR0jmfRCNfMJe0y7LDEiEKKyn4l3rgHDGml2iiYdaaM" />
</head><body bgcolor="#FFFFFF">
<div id="main">
<b>David Sundelius</b><br>
MSc. Computer Science - algorithm, languages and logic from Chalmers University of Technology<br>
Certified Professional Scrum Master I (PSM I)<br>
Consultant for Knowit System Development<br><br>
<i>Contact information:</i><br>
<a href="mailto:mail@davidsundelius.se">mail@davidsundelius.se</a><br>
(+46)73-2435711<br><br>
<a href="../linkedin/"><img src="assets/img/Linkedin.png"></a>
<a href="../facebook/"><img src="assets/img/Facebook.png"></a>
<a href="../twitter/"><img src="assets/img/Twitter.png"></a>
<a href="../github/"><img src="assets/img/Github.png"></a>
<br><br>
<i>@ Copyright David Sundelius 2016</i>
</body>
</html>
